{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire
{% endblock %}

{% block content %}
    <form method="post">
        {% for key, question in questions.items %}
            <p>
                {{ forloop.counter }}. {{ question }}
                <ul class="likert">
                    <li>Totally disagree&emsp;</li>
                    <li>
                        <input class="{{ key }}" type="radio" name="{{ key }}" value="1" required />&emsp;
                    </li>
                    <li>
                        <input class="{{ key }}" type="radio" name="{{ key }}" value="2" />&emsp;
                    </li>
                    <li>
                        <input class="{{ key }}" type="radio" name="{{ key }}" value="3" />&emsp;
                    </li>
                    <li>
                        <input class="{{ key }}" type="radio" name="{{ key }}" value="4" />&emsp;
                    </li>
                    <li>
                        <input class="{{ key }}" type="radio" name="{{ key }}" value="5" />&emsp;
                    </li>
                    <li>
                        <input class="{{ key }}" type="radio" name="{{ key }}" value="6" />&emsp;
                    </li>
                    <li>
                        <input class="{{ key }}" type="radio" name="{{ key }}" value="7" />&emsp;
                    </li>
                    <li>Totally agree</li>
                </ul>
            </p>
            <br><br><br><br>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit Answers</button>
    </form>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'dilemma1/SociotrophyQuestionnaire.css' %}">
{% endblock %}