.slider {
    width: 100%;
    height: 20px;
}

.slider::-webkit-slider-track {
    background: #ccc;
}

.slider::-webkit-slider-thumb {
    background: red;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}