{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
    <p>
        Please read the following instructions carefully. You will be asked to answer a couple of questions
         about them in the next step, to check whether you have understood them.
    </p>
    <p>
        In your group, each member can earn a 1 pound bonus on top of the participation fee of 1.50. 
        <b>All group members will receive this bonus if at least one person chooses to complete a task.</b>
    </p>
    <p>
        The task will take about 4 minutes to complete and will have to be completed alone. 
        Any one of you can volunteer to do the task. If at least one person does, then everyone 
        receives their bonus. If no one does, then none of the group members receive the bonus. You can 
        volunteer to complete this task yourself or you can choose to go straight to the end questionnaire (which saves you 5 minutes). 
        You will not know what the other participants' choices are, each of you chooses independently. 
        After all group members have made their decisions, you will find out whether you have received the bonus or not.
    </p>
    <br>
    <p>
        Please click “Next” button below when you are ready. We will ask you some questions to check if you understood the instructions.
    </p>
    <button type="submit" class="btn btn-primary">Next</button>

{% endblock %}