{% extends "global/Page.html" %}
{% load i18n static otree %}

{% block title %}

{% endblock %}

{% block content %}
<p>Dear participant,</p>
<p>You are invited to take part in a scientific study. This study is being conducted by Dr.&nbsp;Erik&nbsp;de&nbsp;Kwaadsteniet of the Social, Economic and Organisational Psychology Unit at Leiden University and has been approved by the Psychology Research Ethics Committee of Leiden University (reference number: 2025‑03‑05‑E.W.&nbsp;de&nbsp;Kwaadsteniet‑V1‑5946).</p>

<h3>Purpose of the Study</h3>
<p>The purpose of this study is to investigate how people make decisions in groups, and how personal preferences affect such decisions. More information about the research question and hypotheses of this study will be provided after the study is finished.</p>

<h3>Participation</h3>
<p>Participation in this study is completely voluntary. This means that you can end your participation at any time and without any explanation. This will not have any detrimental consequences for you.</p>
<p>However, if you end the study prematurely, we will not be able to compensate you for your investment. In order to participate, you must be at least 18&nbsp;years of age and you should be able to understand written English.</p>

<h3>Procedure</h3>
<p>This online study consists of a simple group task and a number of short questionnaires. It will take approximately 15 minutes.</p>

<h3>Benefits and Risks</h3>
<p>There are no known risks associated with participation in this study. All stimuli and procedures are harmless.</p>

<h3>Compensation</h3>
<p>The standard reimbursement for completing this study is £1.50. You can earn an additional payment of £1.00 as a bonus on top of your reimbursement for participation, depending on your decision in a group task, but only if you complete the whole study. If you do not complete the group task, you will only receive £1.50 as a show‑up fee, without additional payment. Further details will be provided during the study.</p>

<h3>Confidentiality and Privacy</h3>
<p>All your data will be handled with strict confidentiality.</p>

<h3>How do we protect your privacy?</h3>
<p>To protect your privacy, your data will be stored, processed and published in a coded manner. This means we associate your data with a code rather than your personally‑identifiable information, so nobody will be able to link the data to you.</p>
<p>We store your data for 10 years. For the sake of transparency and open science, your anonymous/de‑identified data will be made available to other interested researchers via accessible data repositories.</p>

<h3>Can you withdraw your consent for the use of your data?</h3>
<p>You can take back your consent for the use, storage and publishing of your data within two weeks after your participation has ended.</p>

<p>For more information on data privacy and your rights, please check the European Union’s data privacy law, known as the General Data Protection Regulation (“GDPR”).</p>

<h3>Contact Information</h3>
<p>If you have any questions before or after participating in this study, you can contact the principal investigator: <a href="mailto:kwaadsteniet@fsw.leidenuniv.nl">kwaadsteniet@fsw.leidenuniv.nl</a>.</p>
<p>You can also contact the principal investigator if you have a complaint. If you prefer not to do so, you can contact the Contact point for research participants at the Faculty of Social Sciences of Leiden University:<br>
<a href="mailto:Contactpuntparticipanten@fsw.leidenuniv.nl">Contactpuntparticipanten@fsw.leidenuniv.nl</a></p>
<p>If you have any questions or complaints about your privacy or the processing of your personal data, you can contact the privacy officer of Leiden University: <a href="mailto:privacy@bb.leidenuniv.nl">privacy@bb.leidenuniv.nl</a>.</p></p>

<h2>Informed consent form for participants</h2>

<p>
  I have been asked to give permission to participate in the study
  “A study on group decision making”. I declare the following:
</p>

<ul>
  <li>I have read the information letter.</li>
  <li>I was able to ask questions. If I had questions, they were answered to my satisfaction.</li>
  <li>I had enough time to decide if I wanted to take part.</li>
  <li>I know who to contact in case of any complaints.</li>
  <li>
    I know that taking part is voluntary. I also know that I can decide at any time
    not to take part in the study or to stop taking part in it. I do not have to explain
    why, and stopping will not have negative consequences for me. I understand I will not be
    compensated for my time investment if I stop the study prematurely.
  </li>
  <li>I know that the research data will be safely stored (coded or anonymized) for at least 10 years.</li>
  <li>
    I understand that the researchers may share with other researchers my anonymous /
    de‑identified research data that cannot be traced back to me.
  </li>
</ul>

<p>This is the first time I participate in this study.</p>
    
    <form method="post">
        <button type="submit" class="btn btn-primary">I consent to my participation in this study</button>
    </form>
{% endblock %}