{% extends "global/Page.html" %}
{% load i18n static otree %}

{% block title %}

{% endblock %}

{% block content %}
<p>Dear participant,</p>
<p>Welcome to our study! You will first answer some questions, get the instructions for the task, perform the task and then respond to a few questionnaires.</p> 
[information letter + consent] 
<p>Please click “Next” button below when you are ready.</p>

    
    <form method="post">
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
{% endblock %}